#!/usr/bin/env -S ansible-playbook -D
#
# Copyright 2024, Wim Bonis, Stylite AG
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: Playbook
  hosts: localhost
  become: no
  vars:
    # Defaults, can be overwriting by creating a localvars.yml file here
    remote_username: change_in_localvars_yml
    # my_ssh_key: SSH key file for connecting to SCA system (sca-key, sca-jmp-level*)
    # Set this in localvars.yml to use a specific key for SCA connections
    # Example: my_ssh_key: ~/.ssh/id_ed25519
    my_ssh_key: ~/.ssh/id_unused
    ssh_config_file: config
    bindir: /usr/local/bin
    # Do we need sudo to copy to bindir?
    bindir_become: False
    sca_auth_sock: ~/.ssh/scadev-agent.sock
    mux_auth_sock: ~/.ssh/scadev-mux.sock
    command_sca: sca
  tasks:
  - name: Include Local Vars, overwriting defaults if the user has some
    include_vars: ./localvars.yml
    when: "'./localvars.yml' is file" 
  - name: Create Local sca (bash version)
    template:
      src: sca.sh.j2
      dest: "./{{ command_sca }}.sh"
      mode: u=rwx,g=rx,o=rx
  - name: Create Local sca (Python shim)
    template:
      src: sca.py.j2
      dest: "./{{ command_sca }}.py"
      mode: u=rwx,g=rx,o=rx
    # Note: We create it as .py to avoid conflict with sca/ directory
    # The symlink below will point to this file
  - name: Update .zshrc
    ignore_errors: true
    blockinfile:
      path: ~/.zshrc
      backup: yes
      create: no
      marker: "# {mark} (sca-ssh-gateway) ANSIBLE MANAGED BLOCK"
      block: |
        # Handle sca Subshell for ssh-ssh-gateway
        if [ -n "$SCA_SUBSHELL" ] ; then
          echo "SCA_SUBSHELL: $SCA_SUBSHELL"
          #PROMPT="($SCA_SUBSHELL)$PROMPT"
          #PROMPT="$PROMPT($SCA_SUBSHELL) "
          PS1="$PS1($SCA_SUBSHELL) "
          if [ -n "$MUX_SSH_AUTH_SOCK" ] ; then
            export SSH_AUTH_SOCK=$MUX_SSH_AUTH_SOCK
          elif [ -n "$SCA_SSH_AUTH_SOCK" ] ; then
            export SSH_AUTH_SOCK=$SCA_SSH_AUTH_SOCK
          fi
        else
          export LOCAL_SSH_AUTH_SOCK=$SSH_AUTH_SOCK
          #echo "SSH-ADD"
          #/usr/bin/ssh-add -A
        fi
  - name: Update .bashrc
    ignore_errors: true
    blockinfile:
      path: ~/.bashrc
      backup: yes
      create: no
      marker: "# {mark} (sca-ssh-gateway) ANSIBLE MANAGED BLOCK"
      block: |
        # Handle sca Subshell for ssh-ssh-gateway
        if [ -n "$SCA_SUBSHELL" ] ; then
          echo "SCA_SUBSHELL: $SCA_SUBSHELL"
          #PROMPT="($SCA_SUBSHELL)$PROMPT"
          #PROMPT="$PROMPT($SCA_SUBSHELL) "
          PS1="$PS1($SCA_SUBSHELL) "
          if [ -n "$MUX_SSH_AUTH_SOCK" ] ; then
            export SSH_AUTH_SOCK=$MUX_SSH_AUTH_SOCK
          elif [ -n "$SCA_SSH_AUTH_SOCK" ] ; then
            export SSH_AUTH_SOCK=$SCA_SSH_AUTH_SOCK
          fi
        else
          export LOCAL_SSH_AUTH_SOCK=$SSH_AUTH_SOCK
          #echo "SSH-ADD"
          #/usr/bin/ssh-add -A
        fi
  - name: Place our command in the Path as "sca"
    become: "{{ bindir_become }}"
    file:
      src: "{{ playbook_dir }}/{{ command_sca }}.py"
      dest: "{{ bindir }}/{{ command_sca }}"
      state: link
      force: yes
  - name: Place our command in the Path as "sca.sh"
    become: "{{ bindir_become }}"
    file:
      src: "{{ playbook_dir }}/{{ command_sca }}.sh"
      dest: "{{ bindir }}/{{ command_sca }}.sh"
      state: link
      force: yes
  - name: Create Local SSH config_single File (Host blocks)
    template:
      src: config_single.j2
      dest: "./{{ ssh_config_file }}_single"
  - name: Create Local SSH config_match File (Match blocks)
    template:
      src: config_match.j2
      dest: "./{{ ssh_config_file }}_match"
  - name: Make sure the config_single File is included in ~/.ssh/config (first)
    # Order: config_single → hosts/* → config_match
    lineinfile:
      path: ~/.ssh/config
      line: "Include {{ playbook_dir }}/{{ ssh_config_file }}_single"
      insertbefore: BOF
      create: yes
  - name: Make sure the config File (hosts/*) is included in ~/.ssh/config (after config_single)
    lineinfile:
      path: ~/.ssh/config
      line: "Include {{ playbook_dir }}/hosts/*"
      insertafter: '^Include .+_single\s*$'
  - name: Make sure the config_match File is included in ~/.ssh/config (after hosts/*)
    lineinfile:
      path: ~/.ssh/config
      line: "Include {{ playbook_dir }}/{{ ssh_config_file }}_match"
      insertafter: '^Include .+/hosts/\*'
