#
# Copyright 2024, Wim Bonis, Stylite AG
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Common Settings for All host which go over the Jumphost
KbdInteractiveAuthentication no
TCPKeepAlive yes

#IdentityAgent {{ sca_auth_sock }}
### ForwardAgent {{ sca_auth_sock }}
IdentityAgent {{ mux_auth_sock }}
IdentityFile /dev/null
IdentitiesOnly yes
### ForwardAgent {{ mux_auth_sock }}

### ProxyJump sca-jump_org
### ProxyCommand ssh -W [%h]:%p sca-jump_org
###
### First Try Direct: "socat 2>/dev/null - tcp4:%h:%p,connect-timeout=0.1"
### ProxyCommand sh -c "socat 2>/dev/null - tcp4:%h:%p,connect-timeout=0.1 || ssh -W '[%h]:%p' sca-jump_org 2>/dev/null || ssh -W '[%h]:%p' sca-jump 2>/dev/null || ssh -W '[%h]:%p' sca-jump_local 2>/dev/null"
ProxyCommand sh -c "socat 2>/dev/null - tcp4:%h:%p,connect-timeout=0.1 || ssh -W '[%h]:%p' sca-jump 2>/dev/null"